<div class="container-fluid">
	<h1> Agrega un nuevo Pin</h1>
	<div class="row">
		<div class="col-md-6 ">
			<%= render 'form', pin: @pin %>

		</div>
		<%= link_to 'Atrás', pins_path, class:"btn btn-primary" %>
		</div>
	</div>
