
<div class="container">
	<%= image_tag 'background.jpg', class:"img-responsive" %>

	<div class="row">
		<div class="col-md-3">
			<div class="thumbnail">
			<h3>Título 1</h3>
			<%= image_tag 'snake.jpg', class:"image-responsive" %>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit id quae unde veritatis eaque in explicabo optio, deleniti consectetur repellendus. Earum molestiae itaque, voluptate eligendi quidem pariatur. Vero, atque, consequatur!</p>
			</div>
		</div>
		
		<div class="col-md-3">
			<div class="thumbnail">
			<h3> Título 2</h3>
			<%= image_tag 'snake2.jpg', class:"image-responsive" %>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, ad quis. Ea, dolorem aliquid ipsum, necessitatibus odit minus esse. Vitae asperiores, amet eum accusamus facere quia minima nam! Voluptatem, nihil.</p>
			</div>
		</div>
	</div>
</div>	